/* start general styling */

body {
    box-sizing: border-box;
    background-color: #292b2c;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

/* end general styling */

/* start prim form styling */

.prim {
    width: 100%;
    background-color: #CCC;
    max-width: 250px;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    padding: 20px;
    border-radius: 10px;
}

.prim h2{
    margin: 0 auto 10px;
}

.prim * {
    display: block;
    margin: auto;
    border-radius: 5px;
}

.prim input
,.prim button {
    min-height: 25px;
}

.prim input
,.prim textarea {
    width: 200px;
    border: none;
    padding: 10px;
}

.prim input:focus {
    outline: none;
}

.prim button {
    background-color: #0275d8;
    color: white;
    width: 220px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prim textarea {
    resize: none;
    overflow: scroll;
}

.prim section {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* end prim form styling */